@charset "utf-8";
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ box-sizing: border-box; margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif; }
html{ -ms-overflow-style: none; overflow: hidden;}
html::-webkit-scrollbar{ display: none; }
body{ scroll-behavior: smooth; }
a{ font-weight: bold; text-decoration: none; color: #000;}
ul{list-style: none;}
#kkusaeng{position: relative; width: 100%; height: 100vh; opacity: 0; transition: 0.5s;}
#menu_chk{position: absolute; left: -40px; opacity: 0;}
#nav_chk{position: fixed; top: 0; left: 0; opacity: 0;}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 20.5%;
    height: 100%;
    background-color: #2d2f3d;;
    z-index: 900;
}

.front_area{
    position: fixed;
    width: 20.5%;
    height: 300px;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
.icon{
    position: absolute;
    right: 30px;
    bottom: 40px;
}
.icon>a{
    position: relative;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    margin: 0 3px;
    width: 35px;
    height: 35px;
}
.git{
    background-image: url('img/github_icon.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 103% 103%;
    border-radius: 50%;
}
.blog{
    border-radius: 50%;
    background-image: url('img/tistory_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 120%;
}
.scroll_eff{
    position: absolute;
    bottom: 150px;
    right: 25px;
    width: 50px;
    height: 80px;
    border-radius: 25px;
    border: 3px solid #fff;

}
.scroll_eff:after{
    content: '';
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    opacity: 1;
    background-color: #fff;
    animation: mouse_scroll 1.8s ease infinite;
}

.nav_toggle{
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 45px;
    height: 45px;
    z-index: 9999;
    cursor: pointer;
}
.nav_toggle>label{
    position: relative;
}
.nav_toggle>label{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.nav_toggle>label>span{
    position: absolute;
    left: 8px;
    height: 4px;
    background-color: #fff;
    transition: 0.5s ease-out;
    transform: translate();
}
.nav_toggle>label>span:nth-child(1){
    top: 11px;
    width: 21px;
}
.nav_toggle>label>span:nth-child(2){
    display: block;
    top: 20px;
    width: 13px;
}
.nav_toggle>label>span:nth-child(3){
    top: 29px;
    width: 30px;
}
.nav_toggle>label:hover span:nth-child(1){
    margin-left: 9px;
}
.nav_toggle>label:hover span:nth-child(2){
    margin-left: 17px;
}
#nav_chk:checked ~ .nav_toggle>label:hover span:nth-child(1){
    margin-left: 0px;
}
#nav_chk:checked ~ .nav_toggle>label:hover span:nth-child(2){
    margin-left: 0px;
}
#nav_chk:checked ~ .nav_toggle>label>span:nth-child(1){
    width: 30px;
    transform: translateY(9px) rotate(40deg);
}
#nav_chk:checked ~ .nav_toggle>label>span:nth-child(1){
    width: 30px;
    transform: translateY(9px) rotate(40deg);
}
#nav_chk:checked ~ .nav_toggle>label>span:nth-child(2){
    display: none;
}
#nav_chk:checked ~ .nav_toggle>label>span:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}

.nav{
    position: fixed;
    top: 0px;
    left: -100%;
    height: 100%;
    width: 20.5%;
    float: left;
    padding: 70px 25px 0 0;
    background-color:#457ee0;
    z-index: 901;
    transition: 0.4s ease;
}
#nav_chk:checked ~ .nav{
    left: 0px;
}

.aside .nav_main, .nav_sub{
    list-style: none;
    text-align: right;
}

.nav_main li{
    position: relative;
    margin: 30px 0;
    overflow: hidden;
}
.nav_main li>a{
    position: relative;
    font-size: 2.1em;
    padding: 0px 15px 0px 0;
    color: #2d2f3d;
    font-family: 'Poppins', 'Nanum Gothic', sans-serif;
    font-weight: 600;
    transition: .4s ease-out;
}
.nav_main li>a:after{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #2d2f3d;
    transition: .4s ease-out;
}
.nav_main li.on>a:after{
    background-color: #fff;
}

.upBlock{
    position: absolute;
    top: 0;
    right: 500px;
    width: 70px;
    height: 50%;
    background: #fff;
    transition: 0.23s ease-out;
}

.downBlock{
    position: absolute;
    bottom: 0;
    right: 500px;
    width: 70px;
    height: 50%;
    background: #fff;
    transition: 0.25s ease-out;
}

.move_btn{
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 900; 
}

.move_btn .up{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: rgba(255,255,255);
    border-radius: 50%;
    cursor: pointer;
    z-index: 990;
}

.move_btn .down{
    position: relative;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-color: rgba(255,255,255);
    border-radius: 50%;
    cursor: pointer;
    z-index: 990;
}

.up .up_left{
    position: absolute;
    background-color: #457ee0;
    top: 45%;
    left: 36%;
    transform: translate(-50%, -50%) rotate(135deg);
    border-radius: 25px;
    height: 8px;
    width: 50%;
}

.up .up_right{
    position: absolute;
    background-color: #457ee0;
    top: 45%;
    left: 64%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 25px;
    height: 8px;
    width: 50%;
}

.down .down_left{
    position: absolute;
    background-color: #457ee0;
    top: 55%;
    left: 36%;
    transform: translate(-50%, -50%) rotate(-135deg);
    border-radius: 25px;
    height: 8px;
    width: 50%;
}

.down .down_right{
    position: absolute;
    background-color: #457ee0;
    top: 55%;
    left: 64%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 25px;
    height: 8px;
    width: 50%;
}

.main{
    position: relative;
    width: 100%;
    transition:  0.55s ease-in-out;
}

.main>section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-left: 20.5%;
}

section>.inner{
    position: relative;
    padding: 120px 120px;
    width: 100%;
    height: 100%;
}

section.intro{
    top: 0;
    left: 0;
}
.intro>.inner{
    background-color: rgba(0,0,0,0.3);
}

.intro_bg{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_wrap>h1{
    font-size: 95px;
    user-select: none;
    color: #fff;
}

.typing{
    position: relative;
    display: inline;
    padding-left: 5px;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    user-select: none;
}

.cursor{
    display: inline-block;
    margin:0 0 -4px 3px;
    width: 2px;
    height: 27px;
    background: #fff;
    transition: 0;
    animation: typing_effect 0.8s infinite;
    opacity: 1;
}

@keyframes typing_effect{
    from {
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.web_wrap{
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: 2s ease-out;
}

.web_wrap>h2{ font-size: 18px; font-weight: 200; color: #fff;}

.profileImg{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url('img/profileImg.png') no-repeat;
    background-size: 250px;
    z-index: 10;
}

.myskills{
    background-color: #fff;
   }

.myskills>.inner{ text-align: center;}

.skills_wrap{
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    transition: 0.75s ease-out;
}

.skills_wrap>li{
    display: inline-block;
    width: 175px;
    height: 230px;
    margin: 20px 30px 0 0;
    border-radius: 8px;
    transition: .3s ease;
    cursor: pointer;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,0.2);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.item_html{
    background-image: url('img/HTML5_logo.svg');
    background-size: 80%;
}

.item_css{
    background-image: url('img/CSS3_logo.svg');
    background-size: 60%;
}

.item_js{
    background-image: url('img/js_logo.svg');
    background-size: 100%;
    background-color: rgb(246, 220, 46) !important;
}

.item_jquery{
    background-image: url('img/jquery.png');
    background-size: 80%;
}

.item_nodejs{
    background-image: url('img/Node.js_logo.svg');
    background-size: 80%;
}

.skills_wrap li:hover{ box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.5);}

.portfolio{
    background-color: #fff;
    
    
}

.portfolio>.inner{ padding: 30px;}

.portfolio_items{
    padding-left: 0;
    height: 100%;
    transition: 0.55s ease;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}

.portfolio_items>li{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 15px;
    vertical-align: top;
    border: 1px solid #000;
    text-align: center;
    box-shadow: 3px 3px 3px #000;
}

.portfolio_items>li>img{ width: 100%; height: 100%;}
.portfolio_items>li:hover .port_show{opacity: 1;}

.modal_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -999;
    opacity: 0;
    transition: 0.3s ease-out;
    transition-delay: 0.35s;
}

.portfolio_modal>.modal_title{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 28px;
    padding: 0 20px;
    height: 65px;
    line-height: 65px;
    background-color: #75b1ff;
    color: #fff;
}

.portfolio_modal>.visual_img{
    width: 100%;
}

.modal_content{
    padding: 30px 3px 0 3px;
}

.modal_content p{
    font-size: 20px;
    line-height: 1.6;
}

.modal_content>ul{
    padding: 25px 0 30px 0;
}

.modal_content>ul>li{
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    line-height: 1.5;
}


.modal_content>ul>li:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 4px;
    height: 4px;
    background-color: #ffb037;
    border-radius: 50%;
}

.portfolio_modal a{
    display: inline-block;
    width: 48%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #333333;
    background-color: #e8e8e8;
    transition: 0.2s ease-out;
}

.git_btn{ float: left; font-size: 18px; }

.view_btn{ float: right; font-size: 18px; }

.portfolio_modal a:hover{
    color: #fff;
    background-color: #c8d9eb;
}

.portfolio>input[type=checkbox] ~ .portfolio_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    width: 530px;
    padding: 20px;
    background-color: #fff;
    opacity: 0;
    transition: 0.3s ease;
    transition-delay: 0.3s;
    overflow: auto;
    z-index: 9999;
}

.portfolio_modal::-webkit-scrollbar{
    display: none; 
}

.portfolio>input[type=checkbox]{
    opacity: 0;
}

.portfolio>input[type=checkbox]:checked ~ label>.modal_bg{
    z-index: 990;
    opacity: 1;
    transition-delay: 0s;
}

#modal_chk{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#modal_chk:checked ~ .portfolio_modal{
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
    opacity: 1;
    transition-delay: 0.5s;
    padding-top: 85px;
}

#modal_chk ~ label>.modal_bg>.close_btn{
    position: absolute;
    top: -100px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(/img/close_btn.png) no-repeat center / 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#modal_chk:checked ~ label>.modal_bg>.close_btn{
    top: 30px;
    right: 30px;
}

.port_show{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    color :#fff;
    transition: 0.3s ease-out;
    background: rgba(0,0,0, 0.6);
}

.show_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.dot1, .dot2, .dot3{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s ease-out;
    opacity: 0;
}

.dot1{
    animation: ing 1.5s 2.2s infinite;
}
.dot2{
    animation: ing 1.5s 1.1s infinite;
}
.dot3{
    animation: ing 1.5s 0s infinite;
}


@keyframes ing{
    from{ opacity: 1;}
    to{ opacity: 0; }
}

.port_title{
    font-size: 45px;
}
.port_sub{ 
    font-size: 20px;
    margin-bottom: 35px;
}

.port_ex{
    font-size: 15px;   
    font-weight: 400;
    margin-bottom: 20px;
}

.more_btn{
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 8px 0;
    margin-top: 20px;
    width: 80%;
    transition: 0.3s ease;
    cursor: pointer;
}

.more_btn:hover{
    background-color: #fff;
    color: #222;
}

.contactme{ background-color: #75b1ff; /* #457ee0 #91c788 */ }
.contactme>.inner{
    padding: 100px;
}

.my_info{
    position: absolute;
    bottom: -100%;
    left: 100px;
    transition: 0.8s ease-in-out;
}
.my_info h3{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 120px;
    font-weight: 800;
}

.my_info>li:first-child{ margin: 20px 0; }
.my_info>li{
    font-size: 1.55em;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 10px 0;
}

.my_info>li>a{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 100;
}

/* 반응형 미디어쿼리 시작 */

@media screen and (max-width: 1810px) {

    .portfolio_items>li{
        width: 440px;
        height: 330px;
        margin: 10px 10px;
    }
    .port_title{
        font-size: 50px;
    }
    .port_sub{ 
        font-size: 22px;
        margin-bottom: 35px;
    }
    .more_btn{
        padding: 12px 0;   
    }

}

@media screen and (max-width: 1400px) {

    .nav {
        padding: 70px 20px 0 0;
    }
	.nav_main li>a{
        font-size: 1.9em;
        padding: 0px 20px 0px 0;
    }
    .portfolio_items>li{
        width: 400px;
        height: 300px;
        margin: 10px 10px;
    }
}

@media screen and (min-width: 1023px) and (max-width: 1280px) {
    .header, .front_area{
        width: 27%;
    }
    .nav {
        padding: 50px 15px 0 0;
        width: 27%;
    }
	.nav_main li>a{
        font-size: 1.9em;
        padding: 0px 20px 0px 0;
    }
    section>.inner {
        padding: 100px 100px;
    }
    .main>section {
        padding-left: 27%;
    }
    .intro_wrap>h1 {
        font-size: 85px;
    }
    .typing {
        font-size: 21px;
    }
    .portfolio_items {
        align-content: center;
        justify-content: center;
        padding: 0;
    }
    .portfolio_items>li{
        width: 400px;
        height: 280px;
        margin: 15px;
    }
    .web_wrap{
        bottom: 40px;
    }
    .web_wrap>h2{
        font-size: 15px;
        color: #fff;
    }
    .port_title{
        font-size: 45px;
    }
    .port_sub{ 
        font-size: 22px;
        margin-bottom: 30px;
    }
    .more_btn{
        padding: 10px 0;   
    }
}


/* 테블릿 CSS */
@media screen and (min-width:768px) and (max-width: 1023px) {
    .header, .front_area{
        width: 25%;
    }
    .nav {
        width: 25%;
        padding: 40px 15px 0 0;
    }
    .header_icon {
        position: absolute;
        right: 15px;
        bottom: 20px;
    }
    .main>section {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        padding-left: 25%;
    }
	.nav_main li>a{
        font-size: 1.2em;
        padding: 0px 10px 0px 0;
    }
    .portfolio_items {
        align-content: center;
        justify-content: center;
        padding: 0;
    }
    .portfolio_items>li{
        width: 330px;
        height: 220px;
        margin-bottom: 5px;
    }
    .port_title{
        font-size: 38px;
    }
    .port_sub{ 
        font-size: 19px;
        margin-bottom: 20px;
    }
    .more_btn{
        padding: 8px 0;   
    }
    section>.inner {
        padding: 80px 60px;
    }
    .intro_wrap>h1 {
        font-size: 80px;
    }
    .typing {
        font-size: 1em;
    }
    .web_wrap {
        bottom: 40px;
    }
    .web_wrap>h2{
        font-size: 12px;
    }
    .portfolio>input[type=checkbox] ~ .portfolio_modal{
        width: 450px;
        padding: 15px;
    }
    #modal_chk:checked ~ .portfolio_modal{
        padding-top: 80px;
    }
    .my_info {
        position: absolute;
        bottom: -100%;
        left: 70px;
        transition: 0.8s ease-in-out;
    }
    .my_info h3 {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 3.5em;
        font-weight: 800;
    }
    .my_info>li {
        font-size: 1.2em;
        font-family: 'Nanum Gothic', sans-serif;
        margin: 10px 0;
    }
}

/* 모바일 CSS */
@media screen and (min-width:320px) and (max-width:767px){
    
    .header{
        display: none;
    }
    .front_area{
        display: none;
    }

    .nav{
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        padding: 50px 15px 0 0;
        transition: 0.4s ease;
        z-index: 995;
    }
    #nav_chk:checked ~ .nav{
        left: 0;
    }
    
    .nav_bg{
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, 0.7);
        transition: 0.35s ease;
        z-index: 992;
    }
    .nav_bg>label{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    #nav_chk:checked ~ .nav_bg{
        left: 0;
    }
    .nav_main li>a {
        font-size: 1.35em;
        padding: 0px 10px 0px 0;
    }
    .nav_main li>a:after{
        left: -15px;
    }
    .header_icon {
        right: 10px;
        bottom: 15px;
    }
    .header_icon>a {
        margin: 0 2px;
    }
    .main>section {
        padding-left: 0;
    }
    section>.inner {
        padding: 90px 30px;
    }
    .intro_wrap>h1 {
        font-size: 3.7em;
    }
    .typing {
        position: relative;
        display: inline;
        padding-left: 3px;
        font-size: 0.82em;
        font-weight: 300;
        user-select: none;
    }
    .cursor {
        display: inline-block;
        margin: 0 0 -4px 3px;
        width: 2px;
        height: 17px;
        background: #fff;
        transition: 0;
        animation: typing_effect 0.8s infinite;
        opacity: 1;
    }
    .portfolio_items {
        align-content: center;
        justify-content: center;
        padding: 0;
        flex-direction: column
    }
    .portfolio_items>li{
        width: 220px;
        height: 140px;
        margin-bottom: 8px;
    }
    .port_title{
        font-size: 1.7em;
    }
    .port_sub{ 
        font-size: 0.85em;
        margin-bottom: 10px;
    }
    .more_btn{
        font-size: 0.9em;
        padding: 4px 0 5px 0;
    }
    .portfolio>input[type=checkbox] ~ .portfolio_modal{
        width: 85%;
        padding: 10px;
    }
    .portfolio>input[type=checkbox] ~ .portfolio_modal>.modal_title{
        font-size: 1.4em;
        padding: 0 20px;
        height: 50px;
        line-height: 50px;
    }
    #modal_chk:checked ~ .portfolio_modal{
        padding-top: 60px;
    }
    .modal_content {
        padding: 10px 3px 0 3px;
    }
    .modal_content p{
        font-size: 0.94em;
        line-height: 1.6;
    }
    .modal_content>ul {
        padding: 10px 0 15px 0;
    }
    .modal_content>ul>li {
        position: relative;
        padding-left: 15px;
        font-size: 0.9em;
        line-height: 1.5;
    }
    .portfolio_modal a {
        display: inline-block;
        width: 48%;
        height: 33px;
        font-size: 0.9em;
        line-height: 33px;
        text-align: center;
        color: #333333;
        background-color: #e8e8e8;
        transition: 0.2s ease-out;
    }
    .web_wrap {
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
    }
    .web_wrap>h2 {
        padding-left: 22px;
        font-size: 0.4em;
        font-weight: 100;
    }
    .my_info {
        position: absolute;
        bottom: -100%;
        left: 50px;
        transition: 0.8s ease-in-out;
    }
    .my_info h3 {
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 5.0em;
        font-weight: 800;
    }
    .my_info>li {
        font-size: 1.0em;
        font-family: 'Nanum Gothic', sans-serif;
        margin: 10px 0;
    }

}

.load_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    transition: 0.3s;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: -60px;
    opacity: 1;
    transition: 0.3s;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes mouse_scroll{
    form{ top: 15%; opacity: 1; }
    to{ top: 80%; opacity: 0; }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}