@charset "utf-8";
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    -ms-overflow-style: none;
    overflow: hidden;
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    font-family: 'NEXON Lv2 Gothic';
    font-weight: bold;
    text-decoration: none;
}

#kkusaeng{
    position: relative; 
    width: 100%;
    height: 100vh;
}

html::-webkit-scrollbar{
    display: none;
}

.nav{
    position: fixed;
    top: 0;
    width: 21.5%;
    height: 100%;
    float: left;
    padding: 5% 3%;
    background-color: rgba(49, 36, 80, 0.7);
    z-index: 9999;
}
.nav .move_btn{
    float: right;  
}

.move_btn #up{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.move_btn #down{
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

#up .up_left{
    position: absolute;
    background-color: #b088f9;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(135deg);
    border-radius: 10px;
    height: 7px;
    width: 27px;
}

#up .up_right{
    position: absolute;
    background-color: #b088f9;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 10px;
    height: 7px;
    width: 27px;
}

#down .down_left{
    position: absolute;
    background-color: #b088f9;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-135deg);
    border-radius: 10px;
    height: 7px;
    width: 27px;
}

#down .down_right{
    position: absolute;
    background-color: #b088f9;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-radius: 10px;
    height: 7px;
    width: 27px;
}


.aside .nav_main, .nav_sub{
    list-style: none;
    text-align: right;
}

.nav_main li{
    margin: 20px 0;
    overflow: hidden;
}

.nav_main li>a{
    position: relative;
    font-size: 1.7em;
    text-decoration: none;
    padding: 0px 15px 0px 0;
    color: #fff;
}

.nav_main>li>a:after{
    content: '';
    position: absolute;
    top: 0;
    right: 500px;
    width: 70px;
    height: 50%;
    background: #fff;
    transition: 0.4s ease;
}

.nav_main>li>a:hover:after{
    right: -63px;
}
.nav_main>li>a::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 500px;
    width: 70px;
    height: 50%;
    background: #fff;
    transition: 0.44s ease;
}

.nav_main>li>a:hover::before{
    right: -63px;
}

.main{
    position: relative;
    width: 100%;
    transition:  0.55s ease-in-out;
}

.main>section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-left: 21.5%;
}

section>.inner{
    position: relative;
    padding: 60px;
    width: 100%;
    height: 100%;
}

.inner>h2{
    font-family: 'NEXON Lv2 Gothic';
    font-size: 2.7em;
}

section.profile{
    top: 0;
    left: 0;
    background: url(img/background1.jpg) no-repeat fixed;
    background-size: 100vw 100vh;
    z-index: 0;
}
/*
.profileImg{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: url('img/profileImg.png') no-repeat;
    background-size: 250px;
    box-shadow: 2px 2px 3px gray;
}*/

section.myskills{
    background-color: #854242;
}

section.portfolio{
    background-color: #222831;
}

section.contactme{
    background-color: #c9cbff;
}

