@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#kkusaeng{
    position: relative;
    margin: 0 auto;
    width: 100%;
    border: 1px solid #000;
}

.nav{
    position: fixed;
    top: 0;
    width: 22%;
    height: 100%;
    float: left;
    padding: 40px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.aside ul{
    padding: 0;
    list-style: none;
}

.aside ul li a{
    font-size: 23px;
    text-decoration: none;
    color: ;
}

.main{
    position: relative;
    float:right;
    width: 100%;
    background-color: #e6e6e6;
}

section{
    width: 100%;
    padding-left: 22%;
    z-index: 999;
}

section .inner{
    position: relative;
    padding: 50px;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}

.profile{
    height: 100vh;
}

.profileImg{
    position: absolute;
    top: 10%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background: url('img/profileImg.png') no-repeat;
    background-size: 200px;
    box-shadow: 2px 2px 3px gray;
}


.myskills{
    background-color: #dddddd;
}

.portfolio{
    background-color: #222831;

}

.contact{
    background-color: #c9cbff;
}
